/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
table,
td {
  border-collapse: collapse;
}
img {
  border: none;
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #0056b3;
}
.footer {
  background-color: #f5f5f5;
  color: #777;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  p {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
.container {
  background-image: url("https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb");
  background-position: 0 0;
  background-repeat: no-repeat;
  animation-name: moveBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.terms {
  font-size: 14px;
  margin-top: 20px;
  text-align: justify;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
table,
td {
  border-collapse: collapse;
}
img {
  border: none;
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #3880ff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #3880ff;
}
.footer {
  background-color: #f5f5f5;
  color: #777;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}
.pin-box {
  background-color: #007bff;
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pin {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  p {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
.container {
  background-image: url("https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb");
  background-position: 0 0;
  background-repeat: no-repeat;
  animation-name: moveBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.terms {
  font-size: 14px;
}

.terms a {
  color: #3880ff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
table,
td {
  border-collapse: collapse;
}
img {
  border: none;
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #3880ff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #3880ff;
}
.footer {
  background-color: #f5f5f5;
  color: #777;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}
.pin-box {
  background-color: #007bff;
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pin {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  animation-name: heart;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  p {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
.container {
  background-image: url("https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb");
  background-position: 0 0;
  background-repeat: no-repeat;
  animation-name: moveBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.terms {
  font-size: 14px;
}

.terms a {
  color: #3880ff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
table,
td {
  border-collapse: collapse;
}
img {
  border: none;
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #3880ff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #3880ff;
}
.footer {
  background-color: #f5f5f5;
  color: #777;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}
.pin-box {
  background-color: #007bff;
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.pin {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

a {
  text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  p {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
.container {
  background-image: url("https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb");
  background-position: 0 0;
  background-repeat: no-repeat;
  animation-name: moveBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.terms {
  font-size: 14px;
}

.terms a {
  color: #3880ff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
table,
td {
  border-collapse: collapse;
}
img {
  border: none;
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #3880ff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #3880ff;
}
.footer {
  background-color: #f5f5f5;
  color: #777;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}
.pin-box {
  background-color: #007bff;
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.pin {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

a {
  text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  p {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
.container {
  background-image: url("https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb");
  background-position: 0 0;
  background-repeat: no-repeat;
  animation-name: moveBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.terms {
  font-size: 14px;
}

.terms a {
  color: #3880ff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
table,
td {
  border-collapse: collapse;
}
img {
  border: none;
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: #3880ff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #3880ff;
}
.footer {
  background-color: #f5f5f5;
  color: #777;
  font-size: 12px;
  padding: 10px;
  text-align: left;
}
.pin-box {
  background-color: #007bff;
  border-radius: 10px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.pin {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

a {
  text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  p {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .footer {
    font-size: 12px;
  }
}
.container {
  background-image: url("https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb");
  background-position: 0 0;
  background-repeat: no-repeat;
  animation-name: moveBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.terms {
  font-size: 14px;
}

.terms a {
  color: #3880ff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}
